img, embed, object, video {
  max-width: 100%;
}

dd.rs-title
{
	font-weight: bold;
}

table.rs-item
{
	border-collapse:collapse;
	width: 95%;

}

table.rs-item td,
table.rs-item th
{
	border:1px solid #e2e2e2;
	text-align: left;
	vertical-align: text-top;
}

table.rs-item th
{
	background-color:#e2e2e2;
	color:black;
}

div.rs-composition.stuff dl
{
	border: 1px solid;
}

div.rs-composition.stuff * ul.rs-links,
div.rs-composition.stuff * div.rs-options {
	padding: 0px;
	margin: 0px 0px 0px 20px;
}
div.rs-composition.stuff * div.rs-options li {
	display: block;
	padding-right: 10px;
	float: left;
}
div.rs-composition.stuff * div.rs-options-inline-clear { clear: left; }


