dl.rs-item.stuff 
{
	width: 100%;
}

dd.rs-title
{
	font-weight: bold;
}

table.rs-item
{
	border-collapse:collapse;
	width: 95%;

}
table.rs-item td,
table.rs-item th
{
	border:1px solid #e2e2e2;
	text-align: left;
	vertical-align: text-top;
}

table.rs-item th
{
	background-color:#e2e2e2;
	color:black;
}

