
div.left.title   {
	display: inline-block;
	width: 100%;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 0.5em 0em 0em 0em;

}
div.left.title a  { text-decoration: none;}
div.left.title a:hover  { text-decoration: underline;}

dd.rs-title { 
	font-size: 150%;
}

div.project-outcome-list
{
	margin: 0em 0em 1.0em 0em;
}

span.rs-comp-title {
	font-weight: bold;
}

div.project-outcome-list * { margin: 0; padding: 0;}

div.project-outcome-list * dl
{

}
div.project-outcome-list * dd
{
	margin: 0em 0em 0em 1.5em;
	display: list-item;
	float: left;
}

