
body {
	font-size:1em; 
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	background-color: #f1f1f1; 
}
input, textarea, button, isindex, select
{
	font-size: 0.9em;
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

a, a:visited { color:#333};

h1 {
	color: #333;
	font-size: 1em;
}

#page { margin: 0px auto; }

.content {
	margin: 0 auto;
	width: 93.75%; /* 900px / 960px */
}

.content .main {
	float: right;
	width: 74%; /* 666px / 900px */
}

.content .left {
	float: left;
	width: 25.666666666667%; /* 231px / 900px */
}

div.left.menu ul
{
	padding: 0px;
	margin: 0px;
}


div.left.menu * li 
{
	background-color:#e2e2e2;
	width: 150px;
	display: block;
	margin: 10px 10px 0px 0px;
	padding: 5px;
}

div.left.menu * li a 
{
	color: black;
	display: block;
	width: 100%;
	text-decoration: none;
}


/* iPads and smaller screen */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait),
(max-width: 768px)
{
	.content .main { float: right; width: 100%; }
	.content .left { float: left; width: 100%; }

	div.left.menu * li { float: left; }


}

/* SmartPhones and iPhone 4 */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) 
{
	/* body { background-color: green;} */
	.content .main { float: right; width: 100%; }
	.content .left { float: left; width: 100%; }

	div.left.menu * li { float: left; }

}

