
html, body {
	padding: 0; margin: 0;
	font-size:1em; 
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	background-color: #f1f1f1; 
}
input, textarea, button, isindex, select
{
	font-size: 0.9em;
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

a, a:visited { color:#333};


#page { margin: 0px auto; }

.content {
	margin: 0 auto;
	width: 93.75%; /* 900px / 960px */
}

.top {
}

div.logo {
	display: block;
	float: left;
	margin-right: 1em;
}

div.banner {
	display: block;
	float: left;
	margin-right: 0.5em;
	
}

.top h1  
{
	padding: 0;
	margin: 0.125em 0 0 0;
	font-size: 1.6em;
}
.top h1 a {
	text-decoration: none;
}
.content .main {
	float: right;
	width: 79%; /* 666px / 900px */
}

.content .left {
	clear: both;
	float: left;
	width: 20.666666666667%; /* 231px / 900px */
	margin-bottom: 1em;
}

div.footer 
{
	margin-top: 1em;
	display: block;
	clear: both;
	background-color: black;
	color: #fff;
	padding: 1em;
}

.footer a { color: #fff;}

div.left.menu ul
{
	padding: 0px;
	margin: 0px;
	display: inline-block;
}


div.left.menu * li 
{
	background-color:#e2e2e2;
	width: 150px;
	display: block;
	margin: 10px 10px 0px 0px;
	padding: 5px;
}

div.left.menu * li a 
{
	color: black;
	display: block;
	width: 100%;
	text-decoration: none;
}

div.top.menu 
{
	margin: 0; padding: 0;
	display: inline-block;
}

div.top.menu ul
{
	margin: 0; padding: 0;
}

div.top.menu * li 
{
	float: left;
	display: block;
	margin: 5px 10px 5px 0px;
	padding: 5px;
}

div.top.menu * li a
{
	color: black;
	display: block;
	width: 100%;
	text-decoration: none;
}

div.top.menu * li a:hover
{
	text-decoration: underline;
}

/* iPads and smaller screen */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait),
(max-width: 768px)
{
	.content .main { float: right; width: 100%; }
	.content .left { float: left; width: 100%; }

	div.left.menu * li { float: left; }


}

/* SmartPhones and iPhone 4 */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5),
(max-width: 480px)
{
	/* body { background-color: green;} */
	.content .main { float: right; width: 100%; }
	.content .left { float: left; width: 100%; }

	div.left.menu * li { float: left; }
	form.rs-link-post dd,  
	form.rs-link-post dt {
		text-align: left;
		clear: both;
		width: 100%;
	}

}


img, embed, object, video {
  max-width: 100%;
  overflow: auto;
}

dl.rs-item dd, dl.rs-item dt
{
   	margin: 0em;
}

.rs-options-inline *
{
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.rs-options-inline * a { color: black;}
.rs-options-inline * a:visited { color: black;}


.rs-options-inline * ul 
{
}

.rs-options-inline * li 
{
	display: block;
	color: #333;
	margin-right: 0.8em;
	float: left;
	font-size: 0.8em;
	padding: 1em 0em 0em 0em;
}

.rs-options-inline-clear { clear:left;}

.CollectStuff * #descr
{
}

.CollectStuff * textarea 
{
	width: 90%;
}

div.action-details * dt
{
	font-weight: bold;
}

div.action-details * dd
{
	margin-left: 0.8em;
}

div.action-details * dd.rs-title
{
	font-size: 120%;
	margin: 0em;
}

form.rs-link-post dl  {
    margin: 0px; padding: 0px;
}

form.rs-link-post dt *  { }

div.rs-submit-spacer,
form.rs-link-post dt  {
   display: inline-block;
   margin: 0.8em 0em 0em 0em;
   width: 20%;
   vertical-align: top;
   text-align: right;
}

div.rs-submit,
form.rs-link-post dd {
   margin: 0.8em 0em 0em 0em;
   width: 60%;
   display: inline-block;
}

dd input[type="text"],
dd textarea
{
	width: 90%;
}

dd.rs-title
{
	font-weight: bold;
}

table.rs-item
{
	border-collapse:collapse;
	width: 95%;

}

table.rs-item td,
table.rs-item th
{
	border:1px solid #e2e2e2;
	text-align: left;
	vertical-align: text-top;
}

table.rs-item th
{
	background-color:#e2e2e2;
	color:black;
}

div.rs-composition dl
{
	padding: 0 0 0.25em 0.25em;
}

div.rs-command-operation { clear: left }

input[type="submit"],
.rs-options-inline * a,
.button_example{
 border:1px solid #BABABA;
 -webkit-border-radius: 2px;
 -moz-border-radius: 2px;border-radius: 2px; 
 font-family:arial,helvetica,sans-serif;
 padding: 3px 5px 3px 5px;  text-align: center; color: #000000; background-color: #efefef;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #dedede));
 background-image: -webkit-linear-gradient(top, #efefef, #dedede);
 background-image: -moz-linear-gradient(top, #efefef, #dedede);
 background-image: -ms-linear-gradient(top, #efefef, #dedede);
 background-image: -o-linear-gradient(top, #efefef, #dedede);
 background-image: linear-gradient(top, #efefef, #dedede);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#efefef, endColorstr=#dedede);
}

input[type="submit"]:hover,
.rs-options-inline * a:hover,
.button_example:hover{
 border:1px solid #d6d6d6; background-color: #EFEFEF;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EFEFEF), color-stop(100%, #D6D6D6));
 background-image: -webkit-linear-gradient(top, #EFEFEF, #D6D6D6);
 background-image: -moz-linear-gradient(top, #EFEFEF, #D6D6D6);
 background-image: -ms-linear-gradient(top, #EFEFEF, #D6D6D6);
 background-image: -o-linear-gradient(top, #EFEFEF, #D6D6D6);
 background-image: linear-gradient(top, #EFEFEF, #D6D6D6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EFEFEF, endColorstr=#D6D6D6);
}


